.dropdown-large {
  width: 80vw;
  max-width: 500px;
  min-width: 280px;
}

[data-hidden="true"] {
  display: none;
}

/* truncate on 10 lines max */

/* styles for '...' */
.truncate-multilign {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 10em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  padding-right: 1em;
}
/* create the ... */
.truncate-multilign:before {
  /* points in the end */
  content: "...";
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.truncate-multilign:after {
  /* points in the end */
  content: "";
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.w-item {
  width: 45%;
  margin-left: 3%;
}

@media screen and (min-width:992px) {
  .w-item {
    width: 30%;
    margin-left: 3%;
  }
}

.tag-close-cross {
  cursor: pointer;
  margin-left: 5px;
}

.input-rounded-left {
  border-radius: 5px 0 0 5px;
}

.btn-rounded-right {
  border-radius:  0 5px 5px 0 ;
}

.fs-7{
  font-size: 0.75rem;
}

.fit-img {
  object-fit: cover;
}